body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.key {
    color: black;
}
.value {
    color: forestgreen;
}
td{
    vertical-align: top;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
